<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calmol - Saúde e Apoio à Ansiedade</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="navbar-brand">
        <a href="index.html">
          <img src="static/imagem1.jpg" alt="Calmol Logo">
        </a>
      </div>
    </div>
  </header>

  <!-- Navegação com Botões de Redirecionamento -->
  <nav class="nav">
    <a href="{{ url_for('index') }}" class="nav-button">Página Inicial</a>
    <a href="{{ url_for('medicos') }}" class="nav-button">Cadastro de Médicos</a>
    <a href="{{ url_for('clientes') }}" class="nav-button">Cadastro de Clientes</a>
    <a href="{{ url_for('crises') }}" class="nav-button">Cadastro de Crises</a>
    <a href="{{ url_for('historico') }}"class="nav-button">Histórico</a>
    <a href="{{ url_for('call') }}" class="nav-button">Call</a>
    <a href="{{ url_for('tecnicas') }}" class="nav-button">Técnicas que Podem Ajudar</a>
  </nav>

  <!-- Técnicas de Gerenciamento da Ansiedade -->
  <main class="container">
    <section class="form-section">
      <h2>Página de Técnicas</h2>
      <p>
        Nesta página, você encontrará técnicas simples e eficazes para ajudar a reduzir a ansiedade no momento e também no seu dia a dia.
        Essas práticas não são uma cura, mas podem proporcionar alívio momentâneo e apoiar você a lidar com os sintomas de maneira mais calma.
        Lembre-se de que, se você está enfrentando ansiedade persistente, é fundamental buscar ajuda profissional de um médico ou terapeuta.
      </p>

      <div class="recommendation-section">
        <h3>Descubra Técnicas para Você</h3>
        <label for="emotion">Como você está se sentindo?</label>
        <select id="emotion">
          <option value="ansioso">Ansioso</option>
          <option value="estressado">Estressado</option>
          <option value="calmo">Calmo</option>
        </select>
        <button id="recommend-button">Ver Recomendações</button>
        <div id="recommendation-container"></div>
      </div>

      <!-- Técnica 1 -->
      <div id="técnica-de-respiração" class="technique">
        <h3 class="technique-title">Técnica de Respiração Profunda (Respiração Diafragmática)</h3>
        <div class="technique-content">
          <div class="technique-text">
            <h4>O que é:</h4>
            <p>
              A respiração profunda é uma técnica simples que ajuda a ativar o sistema nervoso parasimpático, o que reduz a frequência cardíaca e traz uma sensação de calma.
            </p>
            <h4>Como fazer:</h4>
            <ul>
              <li>Sente-se confortavelmente ou deite-se, com as mãos sobre o abdômen.</li>
              <li>Inspire profundamente pelo nariz, contando até 4, e sinta seu abdômen expandir (não apenas o peito).</li>
              <li>Segure a respiração por 4 segundos.</li>
              <li>Expire lentamente pela boca, contando até 6, e sinta seu abdômen relaxar.</li>
              <li>Repita por 5 a 10 minutos até sentir a tensão diminuir.</li>
            </ul>
          </div>
          <div class="technique-video">
            <iframe 
              width="90%" 
              height="90%" 
              src="https://www.youtube.com/embed/Mu39nw6R0Lk" 
              title="Técnica de Respiração Profunda - Vídeo" 
              frameborder="1" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <!-- Técnica 2 -->
      <div id="relaxamento-muscular-progressivo" class="technique">
        <h3 class="technique-title">Técnica de Relaxamento Muscular Progressivo</h3>
        <div class="technique-content">
          <div class="technique-text">
            <h4>O que é:</h4>
            <p>
              O relaxamento muscular progressivo ajuda a liberar a tensão do corpo ao focar em cada grupo muscular, promovendo relaxamento e alívio da ansiedade.
            </p>
            <h4>Como fazer:</h4>
            <ul>
              <li>Comece pelos pés e vá subindo até a cabeça.</li>
              <li>Contraia os músculos de um grupo específico (como pés, mãos, pernas ou ombros) por 5 segundos.</li>
              <li>Depois, relaxe rapidamente e sinta a diferença.</li>
              <li>Passe para o próximo grupo muscular e repita.</li>
              <li>Concentre-se em liberar completamente a tensão a cada movimento.</li>
            </ul>
          </div>
          <div class="technique-video">
            <iframe 
              width="90%" 
              height="90%" 
              src="https://www.youtube.com/embed/aJ8xSX3sUZs" 
              title="Relaxamento Muscular Progressivo - Vídeo" 
              frameborder="1" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <!-- Técnica 3 -->
      <div id="técnica-do-mergulho" class="technique">
        <h3 class="technique-title">Técnica do Mergulho (Resfriamento Facial)</h3>
        <div class="technique-content">
          <div class="technique-text">
            <h4>O que é:</h4>
            <p>
              A Técnica do Mergulho é inspirada no reflexo de imersão dos mamíferos, que desacelera a frequência cardíaca ao expor o rosto à água fria.
            </p>
            <h4>Como fazer:</h4>
            <ul>
              <li>Encha uma tigela com água gelada (adicione cubos de gelo, se possível).</li>
              <li>Prenda a respiração e mergulhe o rosto na água por 10 a 30 segundos.</li>
            </ul>
          </div>
          <div class="technique-video">
            <iframe 
              width="90%" 
              height="90%" 
              src="https://www.youtube.com/embed/DXCxbc6c4DU" 
              title="Técnica do Mergulho - Vídeo" 
              frameborder="1" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <!-- Técnica 4 -->
      <div id="visualização-positiva" class="technique">
        <h3 class="technique-title">Técnica de Visualização Positiva</h3>
        <div class="technique-content">
          <div class="technique-text">
            <h4>O que é:</h4>
            <p>
              A visualização positiva envolve criar imagens mentais de lugares ou momentos tranquilos para ajudar a relaxar a mente e reduzir o estresse.
            </p>
            <h4>Como fazer:</h4>
            <ul>
              <li>Feche os olhos e imagine um lugar calmo e seguro.</li>
              <li>Tente visualizar todos os detalhes: as cores, sons e cheiros desse lugar.</li>
            </ul>
          </div>
          <div class="technique-video">
            <iframe 
              width="90%" 
              height="90%" 
              src="https://www.youtube.com/embed/5YwL3GN5NPU" 
              title="Técnica de Visualização Positiva - Vídeo" 
              frameborder="1" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <!-- Técnica de Meditação -->
      <div id="meditacao" class="technique">
        <h3 class="technique-title">Técnica de Meditação</h3>
        <div class="technique-content">
          <div class="technique-text">
            <h4>O que é:</h4>
            <p>
              A meditação é uma prática que envolve o foco da mente em um objeto, pensamento ou atividade para atingir um estado de relaxamento profundo e controle da mente.
            </p>
            <h4>Como fazer:</h4>
            <ul>
              <li>Sente-se em um lugar tranquilo e confortável.</li>
              <li>Feche os olhos e respire profundamente.</li>
              <li>Concentre-se em sua respiração ou em um mantra.</li>
              <li>Se a mente vagar, gentilmente traga sua atenção de volta à respiração ou mantra.</li>
              <li>Pratique por 10 a 20 minutos diariamente.</li>
            </ul>
          </div>
            <div class="technique-video">
              <iframe 
                width="90%" 
                height="90%" 
                src="https://www.youtube.com/embed/gxXZCl4vA-g" 
                title="Meditação - Vídeo" 
                frameborder="1" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>


      <!-- Seção de Recomendações -->
      <div class="recommendation-section">
        <h3>Recomendações</h3>
        <div class="recommendation-container">

          <!-- Subtítulo: Canais no YouTube -->
          <div class="recommendation-topic">
            <h4>Canais no YouTube</h4>

            <!-- Canal 1: Saúde da Mente -->
            <div class="recommendation">
              <h5>Saúde da Mente</h5>
              <p>O canal "Saúde da Mente", apresentado pelo Dr. Marco Abud, oferece conteúdos valiosos sobre saúde mental, bem-estar e técnicas para gerenciar a ansiedade e o estresse. Dr. Marco Abud é um médico especializado em psiquiatria, com experiência em ajudar pessoas a melhorarem sua saúde emocional e mental.</p>
              <a href="https://www.youtube.com/@saudedamente1548" target="_blank" class="btn-primary">Acesse o canal</a>
            </div>

            <!-- Canal 2: Casule -->
            <div class="recommendation">
              <h5>Casule</h5>
              <p>O canal Casule traz uma abordagem diferenciada para o bem-estar mental, explorando temas de meditação, práticas de mindfulness e muito mais. É uma excelente opção para quem busca práticas diárias para melhorar o equilíbrio emocional.</p>
              <a href="https://www.youtube.com/@casule" target="_blank" class="btn-primary">Acesse o canal</a>
            </div>
          </div>

          <!-- Subtítulo: Livros -->
          <div class="recommendation-topic">
            <h4>Livros</h4>

            <!-- Livro 1 -->
            <div class="recommendation">
              <h5>Coisas que Você Só Descobre Quando Desacelera</h5>
              <p>Este livro, escrito por Haemin Sunim, aborda como desacelerar e refletir sobre a vida em meio à correria do cotidiano. Com ensinamentos sobre como encontrar paz interior, ele é uma ótima leitura para quem busca viver com mais serenidade.</p>
              <p><strong>Editor:</strong> Editora Leya</p>
              <p><strong>Distribuidor:</strong> Amazon</p>
              <a href="https://www.amazon.com.br/coisas-que-você-quando-desacelera/dp/8543105293/ref=asc_df_8543105293/?tag=googleshopp00-20&linkCode=df0&hvadid=721147801917&hvpos=&hvnetw=g&hvrand=3269005193971243612&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001729&hvtargid=pla-2381201824264&psc=1&mcid=025bd08d0d8635a6a574007f43822917&tag=googleshopp00-20&linkCode=df0&hvadid=721147801917&hvpos=&hvnetw=g&hvrand=3269005193971243612&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001729&hvtargid=pla-2381201824264&psc=1" target="_blank" class="btn-primary">Comprar no Amazon</a>
            </div>

            <!-- Livro 2 -->
            <div class="recommendation">
              <h5>Desconstruindo a Ansiedade</h5>
              <p>Este livro oferece estratégias práticas para lidar com a ansiedade no dia a dia, com técnicas baseadas em mindfulness e psicologia cognitiva comportamental (TCC). Escrito por Dr. Arthur R. B. Costa, é uma ótima recomendação para quem deseja superar o transtorno de ansiedade.</p>
              <p><strong>Editor:</strong> Editora Gente</p>
              <p><strong>Distribuidor:</strong> Amazon</p>
              <a href="https://www.amazon.com.br/Desconstruindo-ansiedade-superar-agitação-preocupação/dp/6555642505/ref=asc_df_6555642505/?tag=googleshopp00-20&linkCode=df0&hvadid=709856848269&hvpos=&hvnetw=g&hvrand=3269005193971243612&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001729&hvtargid=pla-1787418663103&psc=1&mcid=68f60faf66f930559f18959d2eaad67c&gad_source=1" target="_blank" class="btn-primary">Comprar no Amazon</a>
            </div>

            <!-- Livro 3 -->
            <div class="recommendation">
              <h5>A Voz da Sua Cabeça</h5>
              <p>Este livro foca em como controlar os pensamentos negativos que geram ansiedade, agitação e estresse. Escrito por Dr. David Carbonell, ele oferece ferramentas para mudar a forma como lidamos com esses pensamentos automáticos.</p>
              <p><strong>Editor:</strong> Editora Vozes</p>
              <p><strong>Distribuidor:</strong> Amazon</p>
              <a href="https://www.amazon.com.br/voz-sua-cabeça-reduzir-transformar/dp/6555641843/ref=asc_df_6555641843/?tag=googleshopp00-20&linkCode=df0&hvadid=709856848269&hvpos=&hvnetw=g&hvrand=3269005193971243612&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001729&hvtargid=pla-1417854973819&psc=1&mcid=55a385df6e6237bdbd80aba90ffc011e&gad_source=1" target="_blank" class="btn-primary">Comprar no Amazon</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Caixa de alerta -->
    <div class="alert-box">
      <h4>Lembre-se: Procure um Profissional</h4>
      <p>
        Embora essas técnicas possam ajudar a aliviar os sintomas de ansiedade no momento, elas não substituem o diagnóstico ou tratamento médico.
        Se você está enfrentando episódios frequentes de ansiedade ou outros transtornos mentais, é essencial procurar um profissional qualificado.
        Somente um médico ou terapeuta pode fornecer um plano de tratamento adequado para o seu caso.
      </p>
      <p>
        Essas técnicas são ferramentas de apoio, e o acompanhamento médico especializado é fundamental para tratar a ansiedade de forma eficaz e duradoura.
      </p>
    </div>
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content container">
      <div class="footer-logo">
        <a href="index.html">
          <img src="static/imagem1.jpg" alt="Logo Calmol" width="100">
        </a>
      </div>
      <nav class="footer-nav">
        <ul>
          <li><a href="about.html">Sobre Nós</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
      <div class="footer-text">
        <p>&copy; <span class="year"></span> Calmol - Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='javaScript/script.js') }}"></script>
  <script src="{{ url_for('static', filename='javaScript/ScriptTecnicas.js') }}"></script>  
</body>
</html>
